@import './style.scss';

$numOfItems : 5;
$colors: $black, $offwhite, $green, $pink, $violet;

@keyframes transIn {
  0% {
    width:0px;
  }
  25% {
    width: 33px;
  }
  55% {
    width: 20px;
  }
  100% {
    width: 100px;
  }
}

@keyframes transOut {
  0% {
    width:100px;
  }
  25% {
    width: 50px;
  }
  55% {
    width: 77px;
  }
  100% {
    width: 0px;
  }
}

@for $i from 1 to $numOfItems+1 {
  .item-#{$i} {
    position: static;
    height:400px;
    width:100px;
    background-color: nth($colors, $i);
    // animation: transIn 199ms ease;
  }
}

